body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 91px;
}
.movie-list-sectoin {
    width: fit-content;
    background-color: $bg-gray;
    padding: 41px 28px 31px 29px;
    margin-bottom: 135px;
    .title-txt {
        font-size: 24px;
        text-align: center;
        margin-bottom: 65px;
    }
    .nav-item {
        @include flex-center;
        margin-bottom: 28px;
        li {
            font-size: 16px;
            margin-right: 60px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .movie-list {
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(4, 220px);
        padding: 26px 27px 31px;
        gap: 23px;
        width: fit-content;
        margin: 0 auto 0 auto;
        li {
            width: 220px;
            border: 1px solid $line-gray;
            border-radius: 10px;
            padding: 19px 20px 0;
            position: relative;
            .poster {
                width: 180px;
            }
            .movie-name {
                font-size: 16px;
                font-weight: 900;
                line-height: 23.17px;
                color: #000;
                margin-bottom: 12px;
            }
            .movie-info {
                font-size: 13px;
                font-weight: 400;
                line-height: 18.82px;
                dt {
                    color: $line-gray;
                    float: left;
                    margin-right: 5px;
                    float: left;
                }
                dd {
                    float: left;
                    &:nth-child(2) {
                        margin-right: 42px;
                    }
                    &:last-child {
                        margin-bottom: 59px;
                    }
                }
            }
            .fill-button {
                padding: 9px 0 12px 0;
                width: 50%;
                position: absolute;
                bottom: 0;
                &.left {
                    left: 0;
                }
                &.right {
                    right: 0;
                }
            }
        }
    }
}

.footer-section {
    background-color: $bg-gray;
    width: 100%;
    .tit-sns-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 78px;
        .footer-tit {
            font-size: 22px;
            font-weight: 700;
            line-height: 25.78px;
            color: #000;
        }
        .sns-wrap {
            display: flex;
            li {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .company-info {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.27px;
        color: #4f4f4f;
        dt, dd {
            float: left;
        }
        dt {
            margin-right: 2px;
            font-weight: 700;
        }
        dd {
            margin-right: 10px;
        }
        .copyright {
            float: right;
        }
    }
}