.movie-list-sectoin {
    background-color: $bg-gray;
    .title-txt {
        font-size: 24px;
        text-align: center;
        margin-bottom: 65px;
    }
    .nav-item {
        @include flex-center;
        li {
            font-size: 16px;
            margin-right: 60px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .movie-list {
        background-color: #fff;
        display: grid;
        li {
            padding: 19px 20px 0 20px;
            border: 1px solid $line-gray;
            .poster {
                width: 180px;
            }
        }
    }
}